.menu-bar {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 500;
}
.ant-menu-item-selected {
  background-color: #4f6f52 !important;
  color: #fff !important;
}
.custom-select .ant-select-open,
.custom-table .ant-table-thead > tr > th {
  background-color: #e1ecdc;
}

.ant-form-item-explain-error {
  font-size: 11px;
}

.ant-input:hover, 
.ant-input:focus,
/* .ant-input-status-success, */
.ant-input-affix-wrapper:focus,
.custom-table .ant-pagination-item,
.custom-select .ant-select-selector,
.custom-select .ant-select-selector:hover,
.custom-select .ant-select-selector:focus,
.custom-select .ant-select-focused .ant-select-selector {
  border-color: #4f6f52 !important;
  box-shadow: none;
}
.ant-input.ant-input-status-error:hover,
.ant-input.ant-input-status-error:focus {
  border-color: #ff4d4f !important;
}
.custom-table .ant-pagination-item {
  color:#4f6f52;
}
.ant-btn:hover {
  color: #4f6f52 !important;
  border-color: #4f6f52 !important;
}
.ant-btn-primary {
  background-color: #4f6f52;
}
.ant-btn-primary:hover {
  background-color: #fff !important;
  color: #4f6f52 !important;
}
.ant-btn-default:hover {
  color: #4f6f52 !important;
  border-color: #4f6f52 !important;
}
.ant-select:hover {
  color: #4f6f52 !important;
  border-color: #4f6f52 !important;
}
.custom-switch {
  background-color: #d9d9d9;
}

.custom-switch.ant-switch-checked {
  background-color: #86a789;
}
.custom-switch.ant-switch-checked:hover {
  background-color: #86a789 !important; 
}

.primary--color {
  color: #4f6f52 !important;
}
.secondary--color {
  color: #86a789 !important;
}